
<h1> Hello, Angular </h1>
<mat-toolbar color="warn">
<button mat-button routerLink="/home">Home</button>
<button mat-button routerLink="/profile">Profile</button>
<button mat-button routerLink="/product">Products</button>
<button mat-button routerLink="/cart">Cart</button>
<button mat-button routerLink="/login">Login</button>
<button mat-button routerLink="/register">Register</button>
<button mat-button routerLink="/logout">Logout</button>
</mat-toolbar>
<router-outlet style="padding-top: 8em"></router-outlet>
