<mat-toolbar colour="warm">
	<button mat-Button routerLink="/product">Add Product</button>
	<button mat-Button routerLink="/cart/checkout">Checkout Product</button>
</mat-toolbar>

<p *ngIf=(msg)>Please Login to see yout Cart</p>

<div style="padding: 13px;" *ngIf="(products)">
<mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.detail}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
      <button mat-button (click)="remove(product.accessToken)"> Remove Product</button>
    </mat-card-actions>
    	<p *ngIf="(status)">{{status}}</p>
    </mat-card>
</div>

