h3 {
	text-align: center;
}

.prod-name {
	text-align: center;
}

.product {
	text-align: center;
}h3 {
	text-align: center;
}

.prod-name {
	text-align: center;
}

.product {
	text-align: center;
}h3 {
	text-align: center;
}

.prod-name {
	text-align: center;
}

.product {
	text-align: center;
}

#header {
	text-align: center;
}
